DB_USER=postgres
DB_PASSWORD=airflow
DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=PECE_LAB02
FERNET_KEY=8G-v_7XhUv_D4T-N_k9L6_Xp8Wn3_Zq7R-t5B-Y2K4m=
AIRFLOW_UID=5000
AIRFLOW_DB=airflow
METABASE_HOST=http://metabase:3000
METABASE_USER=admin@ELT.com.br 
METABASE_PASSWORD=metabase01